<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", data) %> 
<body>
    <%- include("../partials/header") %> 
    <main>
        <article id="main-box">
            <section id="box">
                <form action="/products/update/<%= data.product.id %>?m=PUT" method="post" id="create-product-form" enctype="multipart/form-data">
                    <h4>Editar un producto</h4>
                    <input type="hidden" name="id" value="<%= data.product.id %>">
                    <input type="text" name="name" id="name" placeholder="Nombre del producto" value="<%= data.product.name %>"> 
                    <textarea name="description" id="description" cols="30" rows="6" style="resize: none;" placeholder="Descripción" value="<%= data.product.description %>"></textarea>
                    <input type="number" name="price" id="price" placeholder="Valor" value="<%= data.product.price %>">
                    <h3 class="select-label">Categoría</h3>
                    <select name="category" id="category">
                        <option value="Captura" <%= data.product.category == "Captura" ? "selected" : "" %>>Captura</option>
                        <option value="Botiquín" <%= data.product.category == "Botiquín" ? "selected" : "" %>>Botiquín</option>
                        <option value="Objetos" <%= data.product.category == "Objetos" ? "selected" : "" %>>Objetos</option>
                        <option value="Combate" <%= data.product.category == "Combate" ? "selected" : "" %>>Combate</option>
                    </select>
                    <h3 class="select-label">Generación</h3>
                    <select name="gen" id="gen">
                        <option value="1" <%= data.product.gen == "1" ? "selected" : "" %>>1 - RBG</option>
                        <option value="2" <%= data.product.gen == "2" ? "selected" : "" %>>2 - GSC</option>
                        <option value="3" <%= data.product.gen == "3" ? "selected" : "" %>>3 - RSE</option>
                        <option value="4" <%= data.product.gen == "4" ? "selected" : "" %>>4 - HGSS</option>
                        <option value="5" <%= data.product.gen == "5" ? "selected" : "" %>>5 - BW</option>
                    </select>
                    <h3 class="select-label">Imagen</h3>
                    <input type="file" name="image" id="image">
                    <section class="button-sect">
                        <button type="submit">Enviar</button>
                        <button type="reset">Limpiar</button>
                    </section>
                </form>
            </section>
        </article>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>